<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter bar User</title>
</head>
<body>
<form method="post"
      th:action="${filterEndPoint}"
      th:fragment="filter-bar-service"
      th:object="${filter}">
    <input placeholder="Filter by name" th:field="*{name}" type="text"/>
    <label class="error" th:errors="*{name}">Error placeholder</label>
    <input placeholder="Filter by price" th:field="*{price}" type="text"/>
    <label class="error" th:errors="*{price}">Error placeholder</label>
    <!--    sort by-->
    <select th:field="*{sort}">
        <option selected th:value="null">Sort by</option>
        <option th:text="${name}"
                th:value="${name}">
            SortOption
        </option>
    </select>
    <!--    sort order-->
    <select th:field="*{order}">
        <option selected th:value="ascending">ascending</option>
        <option th:value="descending">descending</option>
    </select>
    <button type="submit">Filter</button>
</form>
</body>
</html>