<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter bar User</title>
</head>
<body>
<form method="post"
      th:action="${filterEndPoint}"
      th:fragment="filter-bar-user"
      th:object="${filter}">
    <input placeholder="Filter by first name" th:field="*{firstName}" type="text"/>
    <label class="error" th:errors="*{firstName}">Error placeholder</label>
    <input placeholder="Filter by last name" th:field="*{lastName}" type="text"/>
    <label class="error" th:errors="*{lastName}">Error placeholder</label>
    <select th:field="*{roleName}">
        <option selected th:value="null">Filter by role</option>
        <option th:each="role:${roles}"
                th:text="${role.roleName}"
                th:value="${role.roleName}">
            UserRole
        </option>
    </select>
    <!--    sort by-->
    <select th:field="*{sort}">
        <option selected th:value="null">Sort by</option>
        <option th:each="option:${sort}"
                th:text="${option}"
                th:value="${option}">
            SortOption
        </option>
    </select>
    <!--    sort order-->
    <select th:field="*{order}">
        <option selected th:value="ascending">ascending</option>
        <option th:value="descending">descending</option>
    </select>
    <button type="submit">Filter</button>
</form>
</body>
</html>