<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar">
    <h1>
        <a class="menu" href="#" th:href="@{/v1/home}">HOME</a>
        <a class="menu" href="#" th:href="@{/v1/contacts}">Contacts</a>
        <span th:unless="${isAuthenticated}">
            <a class="menu" href="#" th:href="@{/v1/auth/login}">LogIn</a>
            <!--            <a class="menu" href="#" th:href="@{/v1/users/new}">Register</a>-->
        </span>
        <span style="background: blanchedalmond" th:if="${isAdminOrEmployee}">
            <a class="menu" href="#" th:href="@{/v1/users}">Users</a>
            <a class="menu" href="#" th:href="@{/v1/assistance}">Services</a>
            <a class="menu" href="#" th:href="@{/v1/visits}">Visits</a>
            <a class="menu" href="#" th:href="@{/v1/vehicles}">Vehicles</a>
            <a class="menu" href="#" th:href="@{/v1/auth/logout}">LogOut</a>
        </span>
        <span th:if="${isAuthenticated}">Active user:
    <a href="#" th:href="@{/v1/users/{id}/account(id=${currentUser.id})}"
       th:text="${currentUser.username}">username</a>
        </span>
    </h1>
</nav>
</body>
</html>