<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User register form</title>
</head>
<body>
<form method="post"
      th:action="@{__${#httpServletRequest.requestURI}__}"
      th:fragment="user-form-register"
      th:object="${user}">
    <h4 class="error" th:text="${error}">Error placeholder</h4>
    <label>E-mail<br>
        <input th:field="*{email}" type="text">
        <label class="error" th:errors="*{email}">Error placeholder</label>
    </label>
    <br><br><br>
    <label>Phone<br>
        <input th:field="*{phone}" type="text">
        <label class="error" th:errors="*{phone}">Error placeholder</label>
    </label>
    <br><br><br>
    <label>First Name<br>
        <input th:field="*{firstName}" type="text">
        <label class="error" th:errors="*{firstName}">Error placeholder</label>
    </label>
    <br><br><br>
    <label>Last Name<br>
        <input th:field="*{lastName}" type="text">
        <label class="error" th:errors="*{lastName}">Error placeholder</label>
    </label>
    <br><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>