<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | VEHICLES</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/admin-ui.css" media="screen" rel="stylesheet" th:href="@{/css/admin-ui.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
</head>
<body class="u-body u-image u-stick-footer u-xl-mode"
      style="background-position: 50% 50%; background-attachment: fixed;
      background-image: url('/images/admin-ui-background.png');"
      th:if="${isAdminOrEmployee}">


<!--        <h1>All vehicles list</h1>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <th>Vehicle ID</th>-->
<!--                <th>Vehicle owner</th>-->
<!--                <th>Vehicle license plate</th>-->
<!--                <th>Vehicle VIN</th>-->
<!--                <th>Vehicle brand</th>-->
<!--                <th>Vehicle model</th>-->
<!--                <th>Vehicle production year</th>-->
<!--                <th>Actions</th>-->
<!--            </tr>-->
<!--            <tr th:each="vehicle: ${vehicles}">-->
<!--                <td>-->
<!--                    <a th:text="${vehicle.id}" href="#" th:href="@{/v1/vehicles/{id}(id=${vehicle.id})}"></a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a th:text="${vehicle.owner.username}" href="#"-->
<!--                       th:href="@{/v1/users/{id}(id=${vehicle.owner.id})}"></a>-->
<!--                </td>-->
<!--                <td th:text="${vehicle.licensePlate}"></td>-->
<!--                <td th:text="${vehicle.vin}"></td>-->
<!--                <td th:text="${vehicle.model.brand.name}"></td>-->
<!--                <td th:text="${vehicle.model.name}"></td>-->
<!--                <td th:text="${vehicle.productionYear}"></td>-->
<!--                <td>-->
<!--                    <button><a href="#" th:href="@{/v1/vehicles/{id}/update(id=${vehicle.id})}">Edit</a></button>-->
<!--                    <form th:action="@{/v1/vehicles/{id}/delete(id=${vehicle.id})}">-->
<!--                        <input type="submit" value="Delete">-->
<!--                    </form>-->
<!--                    <span><a href="#">*** NEW VISIT ***</a></span>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->


<section class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-section-1"
         id="sec-1d7f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <!-- *** MENU *** -->
                    <div class="u-align-center u-container-style u-layout-cell u-size-11-xl u-size-14-lg
                         u-size-18-md u-size-18-sm u-size-18-xs u-white u-layout-cell-1"
                         th:fragment="menu-admin-ui">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <span class="u-file-icon u-icon u-icon-1">
                            <img alt="menu icon"
                                 src="../static/images/menu-icon.png" th:src="@{/images/menu-icon.png}">
                            </span>
                            <a class="u-active-custom-color-5 u-align-center u-btn u-btn-round u-button-style
                             u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-1"
                               href="#" th:href="@{/v1/vehicles}">Vehicles</a>
                            <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                            u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-2"
                               href="#" th:href="@{/v1/users}">Clients</a>
                            <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                            u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-3"
                               href="#" th:href="@{/v1/visits}">Visits</a>
                            <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                             u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-4"
                               href="#" th:href="@{/v1/assistance}">Services</a>
                            <span class="u-file-icon u-icon u-text-black u-icon-2">
                                <a href="#" th:href="@{/v1/users/{id}/account(id=${currentUser.id})}">
                                <img alt="link to user profile"
                                     src="../static/images/user-profile-icon.png"
                                     th:src="@{/images/user-profile-icon.png}"></a>
                            </span>
                            <a class="u-border-1 u-border-black u-btn u-btn-round u-button-style u-radius-50
                               u-text-hover-black u-white u-btn-5" data-page-id="21343987" href="#"
                               th:href="@{/v1/auth/logout}">
                                <span style="font-size: 0.875rem;">Logout</span>
                                <span style="font-size: 0.75rem;"></span>&nbsp;
                                <span class="u-file-icon u-icon u-icon-3">
                                <img alt="" src="../static/images/logout-icon.png" th:src="@{/images/logout-icon.png}"></span>
                            </a>
                        </div>
                    </div>
                    <!-- *** CONTENT *** -->
                    <div class="u-container-style u-layout-cell u-shape-rectangle
                    u-size-42-md u-size-42-sm u-size-42-xs u-size-46-lg u-size-49-xl u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <!-- *** SEARCH *** -->
                            <form class="u-border-1 u-border-grey-30 u-search u-search-left u-white u-search-1"
                                  method="post"
                                  th:action="${searchEndPoint}"
                                  th:fragment="search-admin-ui"
                                  th:object="${search}">
                                <button class="u-search-button" type="submit">
                                    <!--    to delete???  v                                  -->
                                    <span class="u-search-icon u-spacing-10">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use
                                xlink:href="#svg-affb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                        <svg class="u-svg-content" id="svg-affb" style="enable-background:new 0 0 56.966 56.966;"
                             version="1.1" viewBox="0 0 56.966 56.966" x="0px" xml:space="preserve"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             y="0px"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
                      </span>
                                </button>
                                <input class="u-search-input"
                                       placeholder="Search" th:field="*{keyword}" type="search">
                                <label style="color: red" th:errors="*{keyword}">Error placeholder</label>
                            </form>
                            <!-- *** PAGE TITLE *** -->
                            <h2 class="u-align-left u-text u-text-black u-text-default u-text-1">Vehicles</h2>
                            <!-- *** BUTTON(S) *** -->
                            <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1">
                                <div class="u-container-layout u-container-layout-3">
                                    <a class="u-align-center u-border-black u-border-none u-btn u-button-style u-hover-custom-color-4 u-palette-3-base u-btn-6"
                                       href="https://nicepage.com/html-website-builder">add user</a>
                                </div>
                            </div>


                            <!-- *** FILTER *** -->


                            <!--                            <div class="u-custom-color-7 u-form u-form-1">-->
                            <!--                                <form th:action="${filterEndPoint}"-->
                            <!--                                      th:object="${filter}"-->
                            <!--                                      method="post"-->
                            <!--                                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"-->
                            <!--                                      name="form" style="padding: 15px;">-->
                            <!--                                    &lt;!&ndash; *** Username *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="username"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            Username</label>-->
                            <!--                                        <input type="email" placeholder="Enter username" id="username" name="username"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** First Name *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="nameF"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            First name</label>-->
                            <!--                                        <input type="email" placeholder="Enter first name" id="nameF" name="nameF"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** Last Name *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="nameL"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            Last name</label>-->
                            <!--                                        <input type="email" placeholder="Enter last name" id="nameL" name="nameL"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** Email *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="email"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            Email</label>-->
                            <!--                                        <input type="email" placeholder="Enter email" id="email" name="email"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** Phone *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="phone"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            Phone</label>-->
                            <!--                                        <input type="tel" placeholder="Enter phone" id="phone" name="phone"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** role *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">-->
                            <!--                                        <label for="role" class="u-label u-spacing-20 u-text-black u-label-7">-->
                            <!--                                            Role</label>-->
                            <!--                                        <div class="u-form-select-wrapper">-->
                            <!--                                            <select id="role" name="role"-->
                            <!--                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                                    u-radius-50 u-white u-input-7">-->
                            <!--                                                <option selected th:value="null">-&#45;&#45;</option>-->
                            <!--                                                <option th:each="option:${roles}"-->
                            <!--                                                        th:value="${option}"-->
                            <!--                                                        th:text="${option}"></option>-->
                            <!--                                            </select>-->
                            <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"-->
                            <!--                                                 class="u-caret">-->
                            <!--                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** model *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">-->
                            <!--                                        <label for="model" class="u-label u-spacing-20 u-text-black u-label-7">-->
                            <!--                                            Model</label>-->
                            <!--                                        <div class="u-form-select-wrapper">-->
                            <!--                                            <select id="model" name="model"-->
                            <!--                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                                    u-radius-50 u-white u-input-7">-->
                            <!--                                                <option selected th:value="null">-&#45;&#45;</option>-->
                            <!--                                                <option th:each="option:${models}"-->
                            <!--                                                        th:value="${option}"-->
                            <!--                                                        th:text="${option}"></option>-->
                            <!--                                            </select>-->
                            <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"-->
                            <!--                                                 class="u-caret">-->
                            <!--                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** brand *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">-->
                            <!--                                        <label for="brand" class="u-label u-spacing-20 u-text-black u-label-7">-->
                            <!--                                            Brand</label>-->
                            <!--                                        <div class="u-form-select-wrapper">-->
                            <!--                                            <select id="brand" name="brand"-->
                            <!--                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                                    u-radius-50 u-white u-input-7">-->
                            <!--                                                <option selected th:value="null">-&#45;&#45;</option>-->
                            <!--                                                <option th:each="option:${fields}"-->
                            <!--                                                        th:value="${option}"-->
                            <!--                                                        th:text="${option}"></option>-->
                            <!--                                            </select>-->
                            <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"-->
                            <!--                                                 class="u-caret">-->
                            <!--                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** License plate *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="license-plate"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            License Plate</label>-->
                            <!--                                        <input type="text" placeholder="CA1122BA" id="license-plate"-->
                            <!--                                               name="license-plate"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** VIN *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-10">-->
                            <!--                                        <label for="vin"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-10">-->
                            <!--                                            VIN</label>-->
                            <!--                                        <input type="text" placeholder="SCBFR7ZA5CC072256" id="vin" name="vin"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-10">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** From Date *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-date u-form-group u-label-top u-form-group-12">-->
                            <!--                                        <label for="from-date"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-12">-->
                            <!--                                            From Date</label>-->
                            <!--                                        <input type="date" placeholder="YYYY-MM-DD" id="from-date" name="fromdate"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-12">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** To Date *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-date u-form-group u-label-top u-form-group-12">-->
                            <!--                                        <label for="to-date"-->
                            <!--                                               class="u-label u-spacing-20 u-text-black u-label-12">-->
                            <!--                                            To Date</label>-->
                            <!--                                        <input type="date" placeholder="YYYY-MM-DD" id="to-date" name="todate"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-12">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** Price from *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-15">-->
                            <!--                                        <label for="price-from" class="u-label u-spacing-20 u-text-black u-label-15">-->
                            <!--                                            Price from</label>-->
                            <!--                                        <input type="text" placeholder="BGN #.##" id="price-from" name="pricefrom"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-15">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** Price to *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-label-top u-form-group-16">-->
                            <!--                                        <label for="price-to" class="u-label u-spacing-20 u-text-black u-label-16">-->
                            <!--                                            Price to</label>-->
                            <!--                                        <input type="text" placeholder="BGN #.##" id="price-to" name="priceto"-->
                            <!--                                               th:field="*{field}"-->
                            <!--                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle-->
                            <!--                                               u-radius-50 u-white u-input-16">-->
                            <!--                                        <label style="color: red" th:errors="*{field}">Error placeholder</label>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** sortBy *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">-->
                            <!--                                        <label for="sortBy" class="u-label u-spacing-20 u-text-black u-label-7">Sort-->
                            <!--                                            by</label>-->
                            <!--                                        <div class="u-form-select-wrapper">-->
                            <!--                                            <select id="sortBy" name="sortBy"-->
                            <!--                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-7">-->
                            <!--                                                <option selected th:value="null">-&#45;&#45;</option>-->
                            <!--                                                <option th:each="option:${sort}"-->
                            <!--                                                        th:value="${option}"-->
                            <!--                                                        th:text="${option}"></option>-->

                            <!--                                            </select>-->
                            <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"-->
                            <!--                                                 class="u-caret">-->
                            <!--                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** sortOrder *** &ndash;&gt;-->
                            <!--                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">-->
                            <!--                                        <label for="sortOrder" class="u-label u-spacing-20 u-text-black u-label-7">-->
                            <!--                                            Sort order </label>-->
                            <!--                                        <div class="u-form-select-wrapper">-->
                            <!--                                            <select id="sortOrder" name="sortOrder"-->
                            <!--                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-7">-->
                            <!--                                                <option selected th:value="ascending">ascending</option>-->
                            <!--                                                <option th:value="descending">descending</option>-->
                            <!--                                            </select>-->
                            <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"-->
                            <!--                                                 class="u-caret">-->
                            <!--                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; *** submit button *** &ndash;&gt;-->
                            <!--                                    <div class="u-align-left u-form-group u-form-submit u-label-top">-->
                            <!--                                        &lt;!&ndash;                                        <button type="submit" value="filter" class="u-form-control-hidden">&ndash;&gt;-->
                            <!--                                        <button type="submit"-->
                            <!--                                                class="u-btn u-btn-round u-btn-submit u-button-style-->
                            <!--                                           u-hover-custom-color-4 u-palette-3-base u-radius-50 u-btn-7">Filter-->
                            <!--                                        </button>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash;                                    <div class="u-form-send-message u-form-send-success">Success!</div>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <div class="u-form-send-error u-form-send-message">Please fix errors then try&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                        again.&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    </div>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <input type="hidden" value="" name="recaptchaResponse">&ndash;&gt;-->
                            <!--                                </form>-->
                            <!--                            </div>-->


                            <!-- *** TABLE - LIST of RESULTS *** -->
                            <div class="u-align-center u-table u-table-responsive u-table-1">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="16.6%">
                                        <col width="16.6%">
                                        <col width="16.6%">
                                        <col width="16.6%">
                                        <col width="16.6%">
                                        <col width="17%">
                                    </colgroup>
                                    <thead class="u-custom-color-3 u-table-header u-table-header-1">
                                    <tr style="height: 46px;">
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">ID</th>
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">Column 2</th>
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">Column 3</th>
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">Column 4</th>
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">col</th>
                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">col</th>
                                    </tr>
                                    </thead>
                                    <tbody class="u-grey-5 u-table-body u-table-body-1">
                                    <tr style="height: 46px;">
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell">
                                            Row 2
                                        </td>
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell">
                                            Description
                                        </td>
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell">
                                            Description
                                        </td>
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell">
                                            Description
                                        </td>
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell"></td>
                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-table-cell"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
        id="footer" th:fragment="footer-admin-ui">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">© 2022 Powered by Mighty IT Team &amp;
            Telerik Academy - All rights reserved</p>
        <p class="u-small-text u-text u-text-variant u-text-2">Swagger</p><span
            class="u-file-icon u-icon u-text-white u-icon-1">
        <img alt="" src="../static/images/swagger-icon.png" th:src="@{/images/swagger-icon.png}"></span>
    </div>
</footer>
</body>
<body th:unless="${isAdminOrEmployee}">
<h1>You should be Admin to see this page</h1>
</body>
</html>