<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | FORGOTTEN PASSWORD</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/login.css" media="screen" rel="stylesheet" th:href="@{/css/login.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi:400" id="u-page-google-font" rel="stylesheet">
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }
    </style>
    <style> .u-dialog-section-4 {
        min-height: 826px;
    }

    .u-dialog-section-4 .u-dialog-1 {
        width: 545px;
        min-height: 564px;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(#f5d654, black);
        margin: 0 auto 60px;
    }

    .u-dialog-section-4 .u-container-layout-1 {
        padding: 0 35px 34px;
    }

    .u-dialog-section-4 .u-group-1 {
        width: 190px;
        min-height: 238px;
        margin: 13px 0 0 auto;
    }

    .u-dialog-section-4 .u-image-1 {
        width: 149px;
        height: 149px;
        background-image: url("/images/Tosho.png");
        background-position: 50% 50%;
        margin: 20px 174px 0 20px;
    }

    .u-dialog-section-4 .u-text-1 {
        margin: 20px auto 0;
    }

    .u-dialog-section-4 .u-group-2 {
        min-height: 237px;
        width: 190px;
        margin: -238px auto 0 0;
    }

    .u-dialog-section-4 .u-image-2 {
        width: 149px;
        height: 149px;
        background-image: url("/images/Ivo.png");
        background-position: 50% 50%;
        margin: 20px 174px 0 20px;
    }

    .u-dialog-section-4 .u-text-2 {
        margin: 20px auto 0;
    }

    .u-dialog-section-4 .u-text-3 {
        margin: -136px auto 0;
    }

    .u-dialog-section-4 .u-group-3 {
        min-height: 262px;
        background-image: none;
        margin: 115px 0 0;
    }

    .u-dialog-section-4 .u-container-layout-4 {
        padding: 30px;
    }

    .u-dialog-section-4 .u-text-4 {
        font-weight: 700;
        text-transform: none;
        margin: 0;
    }

    .u-dialog-section-4 .u-text-5 {
        margin: 20px auto 0 0;
    }

    .u-dialog-section-4 .u-btn-1 {
        border-style: solid;
        font-weight: 700;
        font-size: 0.9375rem;
        margin: 20px auto 0;
        padding: 6px 31px 6px 30px;
    }

    .u-dialog-section-4 .u-icon-1 {
        width: 16px;
        height: 16px;
        left: auto;
        top: 17px;
        position: absolute;
        right: 16px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-4 .u-dialog-1 {
            height: auto;
            background-position: 50% 50%;
        }

        .u-dialog-section-4 .u-group-1 {
            width: 190px;
        }

        .u-dialog-section-4 .u-image-1 {
            margin-right: 41px;
            margin-left: 0;
        }

        .u-dialog-section-4 .u-group-2 {
            width: 190px;
        }

        .u-dialog-section-4 .u-image-2 {
            margin-right: 41px;
            margin-left: 0;
        }

        .u-dialog-section-4 .u-text-3 {
            margin-top: -136px;
        }

        .u-dialog-section-4 .u-group-3 {
            margin-top: 114px;
            margin-right: initial;
            margin-left: initial;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-4 .u-container-layout-1 {
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-4 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-4 .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-4 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-4 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }

        .u-dialog-section-4 .u-text-3 {
            margin-top: -128px;
        }

        .u-dialog-section-4 .u-group-3 {
            margin-top: 113px;
            margin-right: initial;
            margin-left: initial;
        }
    }

    </style>
</head>
<body class="u-body u-overlap u-xl-mode">
<div th:replace="/home::header-client"></div>


<!--<form action="#"-->
<!--      th:action="@{/v1/auth/password}"-->
<!--      th:object="${email}"-->
<!--      method="post">-->

<!--    <label>E-mail<br>-->
<!--        <input type="text" th:field="*{email}">-->
<!--        <label class="error" th:errors="*{email}">Error placeholder</label>-->
<!--    </label>-->
<!--    <br><br>-->
<!--    <input type="submit" value="Send e-mail">-->
<!--</form>-->

<section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-height="1068"
         data-image-width="1600" id="login">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-login-control u-white u-form-1">
            <form class="u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form"
                  method="POST"
                  name="form"
                  style="padding: 30px;"
                  th:action="@{/v1/auth/password}" th:object="${email}">
                <div class="u-form-group u-form-name">
                    <label class="u-label" for="email">Email</label>
                    <input class="u-border-2 u-border-grey-40 u-input u-input-rectangle u-input-1" id="email"
                           name="email" placeholder="Enter your Email" required="required"
                           th:field="*{email}" type="text">
                    <label style="color: red" th:errors="*{email}">Error placeholder</label>
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                    <a class="u-border-none u-btn u-btn-submit u-button-style u-palette-3-base u-btn-1"
                       href="#">Send e-mail</a>
                    <input class="u-form-control-hidden" type="submit" value="Send e-mail">
                </div>
            </form>
        </div>
    </div>
</section>

<div th:replace="/home::about"></div>
<div th:replace="/home::footer"></div>
</body>
</html>