<!DOCTYPE html>
<html lang="en" style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | HOME | MY</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/client-home.css" media="screen" rel="stylesheet" th:href="@{/css/client-home.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi:400" id="u-page-google-font" rel="stylesheet">
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }</style>
    <style>
        .u-dialog-section-4 {
            min-height: 826px;
        }

        .u-dialog-section-4 .u-dialog-1 {
            width: 545px;
            min-height: 564px;
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
            background-image: linear-gradient(#f5d654, black);
            margin: 0 auto 60px;
        }

        .u-dialog-section-4 .u-container-layout-1 {
            padding: 0 35px 34px;
        }

        .u-dialog-section-4 .u-group-1 {
            width: 190px;
            min-height: 238px;
            margin: 13px 0 0 auto;
        }

        .u-dialog-section-4 .u-image-1 {
            width: 149px;
            height: 149px;
            background-image: url("/images/Tosho.png");
            background-position: 50% 50%;
            margin: 20px 174px 0 20px;
        }

        .u-dialog-section-4 .u-text-1 {
            margin: 20px auto 0;
        }

        .u-dialog-section-4 .u-group-2 {
            min-height: 237px;
            width: 190px;
            margin: -238px auto 0 0;
        }

        .u-dialog-section-4 .u-image-2 {
            width: 149px;
            height: 149px;
            background-image: url("/images/Ivo.png");
            background-position: 50% 50%;
            margin: 20px 174px 0 20px;
        }

        .u-dialog-section-4 .u-text-2 {
            margin: 20px auto 0;
        }

        .u-dialog-section-4 .u-text-3 {
            margin: -136px auto 0;
        }

        .u-dialog-section-4 .u-group-3 {
            min-height: 262px;
            background-image: none;
            margin: 115px 0 0;
        }

        .u-dialog-section-4 .u-container-layout-4 {
            padding: 30px;
        }

        .u-dialog-section-4 .u-text-4 {
            font-weight: 700;
            text-transform: none;
            margin: 0;
        }

        .u-dialog-section-4 .u-text-5 {
            margin: 20px auto 0 0;
        }

        .u-dialog-section-4 .u-btn-1 {
            border-style: solid;
            font-weight: 700;
            font-size: 0.9375rem;
            margin: 20px auto 0;
            padding: 6px 31px 6px 30px;
        }

        .u-dialog-section-4 .u-icon-1 {
            width: 16px;
            height: 16px;
            left: auto;
            top: 17px;
            position: absolute;
            right: 16px;
        }

        @media (max-width: 1199px) {
            .u-dialog-section-4 .u-dialog-1 {
                height: auto;
                background-position: 50% 50%;
            }

            .u-dialog-section-4 .u-group-1 {
                width: 190px;
            }

            .u-dialog-section-4 .u-image-1 {
                margin-right: 41px;
                margin-left: 0;
            }

            .u-dialog-section-4 .u-group-2 {
                width: 190px;
            }

            .u-dialog-section-4 .u-image-2 {
                margin-right: 41px;
                margin-left: 0;
            }

            .u-dialog-section-4 .u-text-3 {
                margin-top: -136px;
            }

            .u-dialog-section-4 .u-group-3 {
                margin-top: 114px;
                margin-right: initial;
                margin-left: initial;
            }
        }

        @media (max-width: 991px) {
            .u-dialog-section-4 .u-container-layout-1 {
                padding-bottom: 30px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        @media (max-width: 767px) {
            .u-dialog-section-4 .u-dialog-1 {
                width: 540px;
            }

            .u-dialog-section-4 .u-container-layout-4 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        @media (max-width: 575px) {
            .u-dialog-section-4 .u-dialog-1 {
                width: 340px;
            }

            .u-dialog-section-4 .u-container-layout-1 {
                padding-left: 25px;
                padding-right: 25px;
            }

            .u-dialog-section-4 .u-text-3 {
                margin-top: -128px;
            }

            .u-dialog-section-4 .u-group-3 {
                margin-top: 113px;
                margin-right: initial;
                margin-left: initial;
            }
        }

    </style>
    <style> .u-dialog-section-6 {
        min-height: 777px;
    }

    .u-dialog-section-6 .u-dialog-1 {
        width: 498px;
        min-height: 347px;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
        margin: 91px auto 60px;
    }

    .u-dialog-section-6 .u-container-layout-1 {
        padding: 30px 30px 0;
    }

    .u-dialog-section-6 .u-text-1 {
        font-style: normal;
        text-transform: none;
        margin: 12px 0 0;
    }

    .u-dialog-section-6 .u-layout-wrap-1 {
        margin-top: 3px;
        margin-bottom: 0;
    }

    .u-dialog-section-6 .u-layout-cell-1 {
        min-height: 274px;
    }

    .u-dialog-section-6 .u-container-layout-2 {
        padding: 2px 10px 0;
    }

    .u-dialog-section-6 .u-table-1 {
        margin: 28px 20px 0;
    }

    .u-block-7160-16 {
        height: 46px;
    }

    .u-block-7160-27 {
        height: 46px;
    }

    .u-dialog-section-6 .u-group-1 {
        width: 409px;
        min-height: 100px;
        margin: 0 auto;
    }

    .u-dialog-section-6 .u-container-layout-3 {
        padding-bottom: 0;
    }

    .u-dialog-section-6 .u-btn-1 {
        border-style: solid;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 25px auto 0 12px;
        padding: 12px 24px;
    }

    .u-dialog-section-6 .u-btn-2 {
        border-style: solid;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: -50px 12px 0 auto;
        padding: 12px 11px 12px 10px;
    }

    .u-dialog-section-6 .u-icon-4 {
        width: 36px;
        height: 36px;
        left: auto;
        top: 0;
        position: absolute;
        background-image: none;
        right: -36px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-6 .u-dialog-1 {
            height: auto;
            background-position: 50% 50%;
        }

        .u-dialog-section-6 .u-layout-wrap-1 {
            position: relative;
        }

        .u-dialog-section-6 .u-layout-cell-1 {
            min-height: 226px;
        }

        .u-dialog-section-6 .u-table-1 {
            margin-right: initial;
            margin-left: initial;
        }

        .u-dialog-section-6 .u-group-1 {
            width: 198px;
        }

        .u-dialog-section-6 .u-btn-1 {
            margin-left: 0;
        }

        .u-dialog-section-6 .u-btn-2 {
            margin-top: -45px;
            margin-right: 0;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-6 .u-layout-cell-1 {
            min-height: 100px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-6 .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-dialog-section-6 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-6 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-6 .u-container-layout-1 {
            padding-top: 45px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }</style>
    <style> .u-dialog-section-8 {
        min-height: 500px;
    }

    .u-dialog-section-8 .u-dialog-1 {
        width: 800px;
        min-height: 232px;
        background-image: linear-gradient(#f5d654, black);
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto 60px;
    }

    .u-dialog-section-8 .u-container-layout-1 {
        padding: 9px 0;
    }

    .u-dialog-section-8 .u-text-1 {
        width: 150px;
        margin: 25px auto 0;
    }

    .u-dialog-section-8 .u-table-1 {
        width: 675px;
        margin: 14px auto 0;
    }

    .u-block-885c-6 {
        background-image: none;
    }

    .u-block-885c-9 {
        background-image: none;
    }

    .u-dialog-section-8 .u-table-header-1 {
        font-weight: 700;
        background-image: none;
    }

    .u-dialog-section-8 .u-table-body-1 {
        background-image: none;
    }

    .u-dialog-section-8 .u-icon-1 {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-8 .u-dialog-1 {
            background-position: 50% 50%;
            height: auto;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 720px;
        }

        .u-dialog-section-8 .u-container-layout-1 {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-8 .u-table-1 {
            width: 540px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-8 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }

        .u-dialog-section-8 .u-table-1 {
            width: 340px;
        }
    }</style>
    <style> .u-dialog-section-9 {
        min-height: 500px;
    }

    .u-dialog-section-9 .u-dialog-1 {
        width: 800px;
        min-height: 232px;
        background-image: linear-gradient(#f5d654, black);
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto 60px;
    }

    .u-dialog-section-9 .u-container-layout-1 {
        padding: 9px 0;
    }

    .u-dialog-section-9 .u-text-1 {
        width: 210px;
        margin: 25px auto 0;
    }

    .u-dialog-section-9 .u-table-1 {
        width: 675px;
        margin: 14px auto 0;
    }

    .u-block-c52f-6 {
        background-image: none;
    }

    .u-block-c52f-9 {
        background-image: none;
    }

    .u-dialog-section-9 .u-table-header-1 {
        font-weight: 700;
        background-image: none;
    }

    .u-dialog-section-9 .u-table-body-1 {
        background-image: none;
    }

    .u-dialog-section-9 .u-icon-1 {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-9 .u-dialog-1 {
            background-position: 50% 50%;
            height: auto;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-9 .u-dialog-1 {
            width: 720px;
        }

        .u-dialog-section-9 .u-container-layout-1 {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-9 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-9 .u-table-1 {
            width: 540px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-9 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-9 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }

        .u-dialog-section-9 .u-table-1 {
            width: 340px;
        }
    }</style>
    <style> .u-dialog-section-10 {
        min-height: 500px;
    }

    .u-dialog-section-10 .u-dialog-1 {
        width: 800px;
        min-height: 360px;
        background-image: linear-gradient(#f5d654, black);
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
        height: auto;
        margin: 0 auto 60px;
    }

    .u-dialog-section-10 .u-container-layout-1 {
        padding: 9px 0;
    }

    .u-dialog-section-10 .u-text-1 {
        width: 244px;
        margin: 25px auto 0;
    }

    .u-dialog-section-10 .u-table-1 {
        width: 665px;
        margin: 11px auto 0;
    }

    .u-block-63a7-43 {
        height: 46px;
    }

    .u-block-63a7-58 {
        height: 46px;
    }

    .u-dialog-section-10 .u-text-2 {
        margin: 21px 589px 0 63px;
    }

    .u-dialog-section-10 .u-table-2 {
        width: 675px;
        margin: 6px auto 0;
    }

    .u-block-63a7-6 {
        background-image: none;
    }

    .u-block-63a7-9 {
        background-image: none;
    }

    .u-dialog-section-10 .u-table-header-1 {
        font-weight: 700;
        background-image: none;
    }

    .u-dialog-section-10 .u-table-body-2 {
        background-image: none;
    }

    .u-dialog-section-10 .u-icon-1 {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-10 .u-dialog-1 {
            background-position: 50% 50%;
        }

        .u-dialog-section-10 .u-text-1 {
            width: 244px;
        }

        .u-dialog-section-10 .u-text-2 {
            margin-right: 589px;
            margin-left: 63px;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-10 .u-dialog-1 {
            width: 720px;
        }

        .u-dialog-section-10 .u-container-layout-1 {
            padding-left: 40px;
            padding-right: 40px;
        }

        .u-dialog-section-10 .u-text-2 {
            margin-right: 549px;
            margin-left: 23px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-10 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-10 .u-table-1 {
            width: 540px;
        }

        .u-dialog-section-10 .u-text-2 {
            margin-right: 392px;
            margin-left: 0;
        }

        .u-dialog-section-10 .u-table-2 {
            width: 540px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-10 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-10 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }

        .u-dialog-section-10 .u-table-1 {
            width: 340px;
        }

        .u-dialog-section-10 .u-text-2 {
            margin-right: 192px;
        }

        .u-dialog-section-10 .u-table-2 {
            width: 340px;
        }
    }</style>
</head>
<body class="u-body u-white u-xl-mode" th:if="${isClient}">
<header th:replace="home.html::header-client"></header>
<section class="u-clearfix u-image u-section-1" data-image-height="1282" data-image-width="1920" id="user-personal">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-col">
                    <!-- *** Filter form & buttons ***-->
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <!-- *** Filter form *** -->
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <div class="u-align-left u-custom-color-7 u-expanded-width-xs u-form u-form-1">
                                        <form action="#"
                                              class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                              method="POST"
                                              name="form" source="custom" style="padding: 15px;">
                                            <div class="u-form-group u-form-select u-label-top u-form-group-1">
                                                <label class="u-label u-spacing-20 u-text-black u-label-1"
                                                       for="select-2fc2">Brand</label>
                                                <div class="u-form-select-wrapper">
                                                    <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-1"
                                                            id="select-2fc2"
                                                            name="brand">
                                                        <option value="Item 1 Toyota">Toyota</option>
                                                        <option value="Item 2 Mustang">Mustang</option>
                                                        <option value="Item 3 Moskvich">Moskvich</option>
                                                    </select>
                                                    <svg class="u-caret" height="12" version="1"
                                                         width="14" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M4 8L0 4h8z" fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="u-form-group u-form-select u-label-top u-form-group-2">
                                                <label class="u-label u-spacing-20 u-text-black u-label-2"
                                                       for="select-bb16">Model</label>
                                                <div class="u-form-select-wrapper">
                                                    <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-2"
                                                            id="select-bb16"
                                                            name="Model">
                                                        <option value="Item 1">Verso</option>
                                                        <option value="Item 2">Corola</option>
                                                        <option value="Item 3">Yaris</option>
                                                    </select>
                                                    <svg class="u-caret" height="12" version="1"
                                                         width="14" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M4 8L0 4h8z" fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="u-form-date u-form-group u-label-top u-form-group-3">
                                                <label class="u-label u-spacing-20 u-text-black u-label-3"
                                                       for="date-d4ee">From</label>
                                                <input class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-3"
                                                       id="date-d4ee" name="fromdate"
                                                       placeholder="MM/DD/YYYY"
                                                       type="date">
                                            </div>
                                            <div class="u-form-date u-form-group u-label-top u-form-group-4">
                                                <label class="u-label u-spacing-20 u-text-black u-label-4"
                                                       for="date-6ca4">To</label>
                                                <input class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-4"
                                                       id="date-6ca4" name="todate" placeholder="MM/DD/YYYY"
                                                       required=""
                                                       type="date">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit u-label-top">
                                                <input class="u-form-control-hidden" type="submit" value="submit">
                                                <a class="u-btn u-btn-round u-btn-submit u-button-style u-hover-custom-color-4 u-palette-3-base u-radius-50 u-btn-1"
                                                   href="#">Filter</a>
                                            </div>
                                            <div class="u-form-send-message u-form-send-success">Success!</div>
                                            <div class="u-form-send-error u-form-send-message">Please fix errors then
                                                try again.
                                            </div>
                                            <input name="recaptchaResponse" type="hidden" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- *** Buttons *** -->
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <a class="u-align-right-sm u-align-right-xs u-btn u-btn-round u-button-style u-dialog-link u-hover-white u-palette-3-base u-radius-50 u-btn-2"
                                       href="#services"><span
                                            class="u-file-icon u-icon u-icon-1">
                                        <img alt="serv" th:src="@{/images/serv.png}"></span>&nbsp;<span
                                            style="font-size: 1rem; font-weight: 700;">services</span>
                                        <span style="font-size: 1rem;"></span>
                                    </a>
                                    <a class="u-align-right-sm u-align-right-xs u-border-none u-btn u-btn-round u-button-style u-dialog-link u-hover-white u-palette-3-base u-radius-50 u-btn-3"
                                       href="#my-vehicles"><span
                                            class="u-file-icon u-icon u-icon-2">
                                        <img alt="car" th:src="@{/images/car.png}"></span>&nbsp;<span
                                            style="font-size: 1rem; font-weight: 700;">my vehicles</span>
                                        <span style="font-size: 1rem;"></span>
                                    </a>
                                    <a class="u-align-right-sm u-align-right-xs u-border-none u-btn u-btn-round u-button-style u-dialog-link u-hover-white u-palette-3-base u-radius-50 u-btn-4"
                                       href="#my-account"><span
                                            class="u-file-icon u-icon u-icon-3">
                                        <img alt="user" th:src="@{/images/user.png}"></span>&nbsp;<span
                                            style="font-size: 1rem; font-weight: 700;">Profile</span>
                                        <span style="font-size: 1rem;"></span>
                                    </a>
                                    <!-- *** SEARCH  ***-->
                                    <form class="u-border-1 u-border-grey-30 u-palette-3-base u-radius-50 u-search u-search-left u-search-1"
                                          method="post"
                                          th:action="@{/v1/private/search}"
                                          th:object="${search}">
                                        <button class="u-search-button" type="submit">
                          <span class="u-file-icon u-search-icon u-spacing-10">
                            <img alt="search" th:src="@{/images/search.PNG}">
                          </span>
                                        </button>
                                        <input class="u-search-input" name="search" placeholder="Search"
                                               th:field="*{keyword}"
                                               type="search">
                                        <label style="color: red" th:errors="*{keyword}">Error
                                            placeholder</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *** List visits *** -->
                    <div class="u-size-30">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <h3 class="u-align-left u-text u-text-palette-3-light-1 u-text-1">Visits </h3>
                                    <div class="u-align-left u-table u-table-responsive u-table-1">
                                        <table class="u-table-entity">
                                            <thead class="u-align-center u-palette-3-base u-table-header u-table-header-1">
                                            <tr style="height: 64px;">
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">#</th>
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">Model</th>
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">License Plate</th>
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">Produced</th>
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">Date In</th>
                                                <!--                                                <th class="u-border-1 u-border-grey-75 u-table-cell">View report</th>-->
                                                <th class="u-border-1 u-border-grey-75 u-table-cell">Send report</th>
                                            </tr>
                                            </thead>
                                            <tbody class="u-align-center u-grey-25 u-table-alt-grey-10 u-table-body u-table-body-1">
                                            <tr style="height: 42px;" th:each="visit, iterator: ${visits}">
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                                                    th:text="${iterator.index}+1">
                                                    1
                                                </td>
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                                                    th:text="|${visit.vehicle.model.brand.name} ${visit.vehicle.model.name}|">
                                                    Toyota Tundra
                                                </td>
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                                                    th:text="${visit.vehicle.licensePlate}">
                                                    TX7337TX
                                                </td>
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                                                    th:text="${visit.vehicle.productionYear}">
                                                    2020
                                                </td>
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                                                    th:text="${visit.dateIn}">
                                                    Dec 12, 2017
                                                </td>
                                                <!--                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell">-->
                                                <!--                                                    <span class="u-dialog-link u-file-icon u-icon"-->
                                                <!--                                                          data-href="#view-report">-->
                                                <!--                                                        <img th:src="@{/images/report.png}" alt="report"></span>-->
                                                <!--                                                </td>-->
                                                <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell">
                                                    <a th:href="@{/v1/private/visits/{id}/send(id=${visit.id})}">
                                                        <span class="u-file-icon u-icon">
                                                        <img alt="send" th:src="@{/images/send.png}"></span></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="home.html::footer"></footer>
<!--Mighty IT About popUp-->
<section th:replace="home.html::about"></section>
<!-- client profile popUp-->
<section
        class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-6"
        id="my-account">
    <div class="u-container-style u-dialog u-shape-rectangle u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <h4 class="u-align-center u-text u-text-1" th:text="|Welcome,  ${user.firstName} ${user.lastName}|">Welcome,
                User User<br>
            </h4>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-60">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-2">
                                        <div class="u-expanded-width u-table u-table-responsive u-table-1">
                                            <table class="u-table-entity">
                                                <tbody class="u-table-body">
                                                <tr style="height: 26px;">
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">
                                                        <span class="u-file-icon u-icon u-text-white">
                                                            <img alt="user" th:src="@{/images/4.png}">
                                                        </span>
                                                    </td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">username
                                                    </td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell"
                                                        th:text="${user.username}"></td>
                                                </tr>
                                                <tr style="height: 40px;">
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">
                                                        <span class="u-file-icon u-icon u-text-white">
                                                            <img alt="mail" th:src="@{/images/5.png}">
                                                        </span>
                                                    </td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">email</td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell"
                                                        th:text="${user.email}"></td>
                                                </tr>
                                                <tr style="height: 44px;">
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">
                                                        <span class="u-file-icon u-icon u-text-white">
                                                              <img alt="phone" th:src="@{/images/6.png}">
                                                        </span>
                                                    </td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">phone</td>
                                                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell"
                                                        th:text="${user.phone}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="u-align-center u-container-style u-group u-shape-rectangle u-group-1">
                                            <div class="u-container-layout u-container-layout-3">
                                                <a class="u-border-2 u-border-palette-3-base u-btn u-btn-round
                                                   u-button-style u-hover-palette-3-light-1 u-none u-radius-50 u-btn-1"
                                                   href="#"
                                                   th:href="@{/v1/users/{id}/update(id=${user.id})}">
                                                    Update Details</a>
                                                <a class="u-border-2 u-border-palette-3-base u-btn u-btn-round
                                                   u-button-style u-hover-palette-3-light-1 u-none u-radius-50 u-btn-2"
                                                   href="#"
                                                   th:href="@{/v1/users/{id}/update/password(id=${user.id})}">
                                                    Change password</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-icon-rectangle u-spacing-8 u-text-black u-white u-icon-4">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" style="" viewBox="0 0 47.971 47.971">
                <use xlink:href="#svg-aeb3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="u-svg-content" id="svg-aeb3" style="enable-background:new 0 0 47.971 47.971;"
                 version="1.1" viewBox="0 0 47.971 47.971" x="0px" xml:space="preserve"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 y="0px"><g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"></path>
</g></svg>
        </button>
    </div>
</section>
<!--Smart garage Services popUp-->
<section
        class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-dialog-section-8"
        id="services">
    <div class="u-align-center u-container-style u-dialog u-gradient u-dialog-1" data-animation-delay="0"
         data-animation-direction="" data-animation-duration="0" data-animation-name="">
        <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-center u-text u-text-1">Services </h3>
            <div class="u-align-center u-table u-table-responsive u-table-1">
                <table class="u-table-entity">
                    <thead class="u-align-center u-palette-3-base u-table-header u-table-header-1">
                    <tr style="height: 45px;">
                        <th class="u-border-1 u-border-grey-75 u-table-cell">#</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Description</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Price</th>
                    </tr>
                    </thead>
                    <tbody class="u-align-center u-grey-25 u-table-alt-grey-10 u-table-body u-table-body-1">
                    <tr style="height: 45px;"
                        th:each="service,iterator: ${services}">
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="${iterator.index} + 1"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="${service.name}"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="|BGN ${service.price}|"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" style="" viewBox="0 0 16 16">
                <use xlink:href="#svg-efe9" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="u-svg-content" id="svg-efe9" version="1.1"
                 viewBox="0 0 16 16" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><rect height="16" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" x="7" y="0"></rect>
                <rect height="2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" x="0"
                      y="7"></rect></svg>
        </button>
    </div>
</section>
<!--client vehicles-->
<section
        class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-dialog-section-9"
        id="my-vehicles">
    <div class="u-align-center u-container-style u-dialog u-gradient u-dialog-1" data-animation-delay="0"
         data-animation-direction="" data-animation-duration="0" data-animation-name="">
        <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-center u-text u-text-1">My vehicles </h3>
            <div class="u-align-center u-table u-table-responsive u-table-1">
                <table class="u-table-entity">
                    <thead class="u-align-center u-palette-3-base u-table-header u-table-header-1">
                    <tr style="height: 45px;">
                        <th class="u-border-1 u-border-grey-75 u-table-cell">#</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Model</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">License plate</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Produced</th>
                    </tr>
                    </thead>
                    <tbody class="u-align-center u-grey-25 u-table-alt-grey-10 u-table-body u-table-body-1">
                    <tr style="height: 45px;"
                        th:each="vehicle, iterator: ${user.vehicles}">
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="${iterator.index} + 1"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="|${vehicle.model.brand.name} ${vehicle.model.name}|"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="${vehicle.licensePlate}"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"
                            th:text="${vehicle.productionYear}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" style="" viewBox="0 0 16 16">
                <use xlink:href="#svg-efe9" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="u-svg-content" id="svg-efe9" version="1.1"
                 viewBox="0 0 16 16" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><rect height="16" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" x="7" y="0"></rect>
                <rect height="2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" x="0"
                      y="7"></rect></svg>
        </button>
    </div>
</section>
<!--visit report-->
<section
        class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-dialog-section-10"
        id="view-report">
    <div class="u-align-center u-container-style u-dialog u-gradient u-dialog-1" data-animation-delay="0"
         data-animation-direction="" data-animation-duration="0" data-animation-name="">
        <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-center u-text u-text-1">Visit Report </h3>
            <div class="u-table u-table-responsive u-table-1">
                <table class="u-table-entity">
                    <colgroup>
                        <col width="25.1%">
                        <col width="25.1%">
                        <col width="24.8%">
                        <col width="25%">
                    </colgroup>
                    <tbody class="u-table-body">
                    <tr style="height: 45px;">
                        <td class="u-table-cell">License Plate</td>
                        <td class="u-table-cell"></td>
                        <td class="u-table-cell">Date In</td>
                        <td class="u-table-cell"></td>
                    </tr>
                    <tr style="height: 45px;">
                        <td class="u-table-cell">Total price</td>
                        <td class="u-table-cell"></td>
                        <td class="u-table-cell">Date Out</td>
                        <td class="u-table-cell"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="u-align-left u-text u-text-2">Services </h3>
            <div class="u-align-center u-table u-table-responsive u-table-2">
                <table class="u-table-entity">
                    <colgroup>
                        <col width="8.2%">
                        <col width="67%">
                        <col width="24.8%">
                    </colgroup>
                    <thead class="u-align-center u-palette-3-base u-table-header u-table-header-1">
                    <tr style="height: 31px;">
                        <th class="u-border-1 u-border-grey-75 u-table-cell">#</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Name</th>
                        <th class="u-border-1 u-border-grey-75 u-table-cell">Price</th>
                    </tr>
                    </thead>
                    <tbody class="u-align-center u-grey-25 u-table-alt-grey-10 u-table-body u-table-body-2">
                    <tr style="height: 45px;">
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-75 u-border-no-bottom u-border-no-top u-table-cell"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" style="" viewBox="0 0 16 16">
                <use xlink:href="#svg-efe9" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="u-svg-content" id="svg-efe9" version="1.1"
                 viewBox="0 0 16 16" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><rect height="16" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" x="7" y="0"></rect>
                <rect height="2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" x="0"
                      y="7"></rect></svg>
        </button>
    </div>
</section>
</body>
<!--unauthorized-->
<body th:unless="${isClient}">
<div th:replace="vehicle-all.html::unauthorized"></div>
</body>
</html>