<!DOCTYPE html>
<html lang="en" style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | HOME</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/home.css" media="screen" rel="stylesheet" th:href="@{/css/home.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi:400" id="u-page-google-font" rel="stylesheet">
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }</style>
    <style>
        .u-dialog-section-4 {
            min-height: 826px;
        }

        .u-dialog-section-4 .u-dialog-1 {
            width: 545px;
            min-height: 564px;
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
            background-image: linear-gradient(#f5d654, black);
            margin: 0 auto 60px;
        }

        .u-dialog-section-4 .u-container-layout-1 {
            padding: 0 35px 34px;
        }

        .u-dialog-section-4 .u-group-1 {
            width: 190px;
            min-height: 238px;
            margin: 13px 0 0 auto;
        }

        .u-dialog-section-4 .u-image-1 {
            width: 149px;
            height: 149px;
            background-image: url("/images/Tosho.png");
            background-position: 50% 50%;
            margin: 20px 174px 0 20px;
        }

        .u-dialog-section-4 .u-text-1 {
            margin: 20px auto 0;
        }

        .u-dialog-section-4 .u-group-2 {
            min-height: 237px;
            width: 190px;
            margin: -238px auto 0 0;
        }

        .u-dialog-section-4 .u-image-2 {
            width: 149px;
            height: 149px;
            background-image: url("/images/Ivo.png");
            background-position: 50% 50%;
            margin: 20px 174px 0 20px;
        }

        .u-dialog-section-4 .u-text-2 {
            margin: 20px auto 0;
        }

        .u-dialog-section-4 .u-text-3 {
            margin: -136px auto 0;
        }

        .u-dialog-section-4 .u-group-3 {
            min-height: 262px;
            background-image: none;
            margin: 115px 0 0;
        }

        .u-dialog-section-4 .u-container-layout-4 {
            padding: 30px;
        }

        .u-dialog-section-4 .u-text-4 {
            font-weight: 700;
            text-transform: none;
            margin: 0;
        }

        .u-dialog-section-4 .u-text-5 {
            margin: 20px auto 0 0;
        }

        .u-dialog-section-4 .u-btn-1 {
            border-style: solid;
            font-weight: 700;
            font-size: 0.9375rem;
            margin: 20px auto 0;
            padding: 6px 31px 6px 30px;
        }

        .u-dialog-section-4 .u-icon-1 {
            width: 16px;
            height: 16px;
            left: auto;
            top: 17px;
            position: absolute;
            right: 16px;
        }

        @media (max-width: 1199px) {
            .u-dialog-section-4 .u-dialog-1 {
                height: auto;
                background-position: 50% 50%;
            }

            .u-dialog-section-4 .u-group-1 {
                width: 190px;
            }

            .u-dialog-section-4 .u-image-1 {
                margin-right: 41px;
                margin-left: 0;
            }

            .u-dialog-section-4 .u-group-2 {
                width: 190px;
            }

            .u-dialog-section-4 .u-image-2 {
                margin-right: 41px;
                margin-left: 0;
            }

            .u-dialog-section-4 .u-text-3 {
                margin-top: -136px;
            }

            .u-dialog-section-4 .u-group-3 {
                margin-top: 114px;
                margin-right: initial;
                margin-left: initial;
            }
        }

        @media (max-width: 991px) {
            .u-dialog-section-4 .u-container-layout-1 {
                padding-bottom: 30px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        @media (max-width: 767px) {
            .u-dialog-section-4 .u-dialog-1 {
                width: 540px;
            }

            .u-dialog-section-4 .u-container-layout-4 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        @media (max-width: 575px) {
            .u-dialog-section-4 .u-dialog-1 {
                width: 340px;
            }

            .u-dialog-section-4 .u-container-layout-1 {
                padding-left: 25px;
                padding-right: 25px;
            }

            .u-dialog-section-4 .u-text-3 {
                margin-top: -128px;
            }

            .u-dialog-section-4 .u-group-3 {
                margin-top: 113px;
                margin-right: initial;
                margin-left: initial;
            }
        }

    </style>
    <style>
        .u-dialog-section-5 {
            min-height: 500px;
        }

        .u-dialog-section-5 .u-dialog-1 {
            width: 533px;
            min-height: 405px;
            margin: 199px auto 60px;
        }

        .u-dialog-section-5 .u-container-layout-1 {
            padding: 0;
        }

        .u-dialog-section-5 .u-form-1 {
            height: 359px;
            background-image: none;
            margin-top: 0;
            margin-bottom: 0;
        }

        .u-dialog-section-5 .u-input-1 {
            background-image: none;
        }

        .u-dialog-section-5 .u-input-2 {
            background-image: none;
        }

        .u-dialog-section-5 .u-btn-1 {
            width: 100%;
            background-image: none;
            border-style: none;
            padding: 10px 31px 10px 29px;
        }

        .u-dialog-section-5 .u-btn-2 {
            align-self: center;
            border-style: none;
            margin: 0 auto;
            padding: 0;
        }

        .u-dialog-section-5 .u-icon-1 {
            width: 20px;
            height: 20px;
        }

        @media (max-width: 1199px) {
            .u-dialog-section-5 .u-dialog-1 {
                height: auto;
            }

            .u-dialog-section-5 .u-btn-2 {
                margin-top: 33px;
            }
        }

        @media (max-width: 575px) {
            .u-dialog-section-5 .u-dialog-1 {
                width: 340px;
            }
        }</style>

</head>
<body class="u-body u-overlap u-xl-mode">
<header class="u-clearfix u-header u-header"
        id="header-client-guest" th:fragment="header-client">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!-- *** LOGO ***-->
        <a class="u-dialog-link u-image u-logo u-image-1" data-image-height="182" data-image-width="193"
           href="#about" title="Mighty IT">
            <img alt="logo" class="u-logo-image u-logo-image-1" th:src="@{/images/logo.PNG}">
        </a>
        <!-- *** navbar menu  *** -->
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" th:href="@{/v1/home}"
                           th:unless="${isAuthenticated}">Home</a>
                        <a class="u-button-style u-nav-link" th:href="@{/v1/private}"
                           th:if="${isClient}">Home</a>
                        <a class="u-button-style u-nav-link" th:href="@{/v1/vehicles/}"
                           th:if="${isAdminOrEmployee}">Home</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" th:href="@{/v1/contacts}">Contact</a>
                    </li>
                    <li class="u-nav-item" th:if="${isAuthenticated}">
                        <a class="u-button-style u-nav-link" th:href="@{/v1/auth/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section class="u-clearfix u-image u-section-1" data-image-height="1282" data-image-width="1920" id="body-index-client">
    <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <div class="u-align-left u-container-style u-group u-palette-3-dark-1 u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-custom-font u-text u-text-1">My Smart Garage</h1>
                <p class="u-large-text u-text u-text-variant u-text-2">My Smart Garage is the place where you can find
                    history of your car visits in Mighty IT Smart Garage Service and download detailed reports.</p>
                <a class="u-btn u-button-style u-text-custom-color-1 u-white u-btn-1"
                   href="#" th:href="@{/v1/auth/login}"
                   th:unless="${isAuthenticated}">LogIn</a>
            </div>
        </div>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
        id="footer" th:fragment="footer">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© 2022 Powered by Mighty IT Team :: Telerik Academy</p>
    </div>
</footer>
<!--Mighty IT About popUp-->
<section
        class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-dialog-section-4"
        id="about"
        th:fragment="about">
    <div class="u-align-center u-container-style u-dialog u-gradient u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout">
                    <div alt="" class="u-image u-image-circle u-preserve-proportions u-image-1" data-image-height="1600"
                         data-image-width="1600"></div>
                    <h5 class="u-text u-text-default u-text-1">Todor Bonev</h5>
                </div>
            </div>
            <div class="u-container-style u-group u-group-2">
                <div class="u-container-layout">
                    <div alt="" class="u-image u-image-circle u-preserve-proportions u-image-2" data-image-height="150"
                         data-image-width="150"></div>
                    <h5 class="u-text u-text-default u-text-2">Ivaylo Ivanov</h5>
                </div>
            </div>
            <h3 class="u-text u-text-default u-text-3">&amp;</h3>
            <div class="u-container-style u-expanded-width u-group u-white u-group-3">
                <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h3 class="u-align-center u-text u-text-4">We are Mighty IT</h3>
                    <p class="u-align-center u-text u-text-default u-text-5">We are Ivo &amp; Tosho - team created by
                        Telerik Academy for graduating Alpha Java 34 cohort with final project Smart Garage.&nbsp;</p>
                    <a class="u-border-2 u-border-black u-btn u-btn-round u-button-style u-hover-palette-3-light-1
                       u-none u-radius-50 u-text-body-color u-text-hover-white u-btn-1"
                       th:href="@{/v1/contacts}">
                        Contact us</a>
                </div>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" style="" viewBox="0 0 409.806 409.806">
                <use xlink:href="#svg-5da4" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="u-svg-content" id="svg-5da4" style="enable-background:new 0 0 409.806 409.806;"
                 version="1.1" viewBox="0 0 409.806 409.806" x="0px" xml:space="preserve"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 y="0px"><g><g><path d="M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42    c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42    c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132    c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42    c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z"></path>
</g>
</g></svg>
        </button>
    </div>
</section>
</body>
</html>