<!DOCTYPE html>
<html lang="en" style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/index.css" media="screen" rel="stylesheet" th:href="@{/css/index.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi:400" id="u-page-google-font" rel="stylesheet">
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }</style>
</head>
<body class="u-body u-xl-mode">
<section class="u-align-center u-clearfix u-image u-section-1"
         data-image-height="642"
         data-image-width="980"
         id="index"
         onclick="goHome()">
    <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
    </div>
</section>
<script>
    function goHome() {
        location.replace("/v1/home")
    }
</script>
</body>
</html>