<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Implemented</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="row">
    <div class="column banner"><h1>***</h1></div>
    <div class="column middle">
        <nav th:replace="/fragments/navbar.html::navbar"></nav>
        <!--        place your code here-->
        <h3>Page Not Yet Implemented</h3>
        <h1 style="background: blanchedalmond">Page Not Yet Implemented</h1>
        <h3>Page Not Yet Implemented</h3>
        <h1 style="background: blanchedalmond">Page Not Yet Implemented</h1>
        <h3>Page Not Yet Implemented</h3>
        <h1 style="background: blanchedalmond">Page Not Yet Implemented</h1>
        <h3>Page Not Yet Implemented</h3>
        <br>
        <hr>
        <br>
        <h1><a href="#" th:href="@{/swagger-ui/}">See Swagger documentation</a></h1>
    </div>
    <div class="column banner"><h1>***</h1></div>
</div>
</body>
</html>