<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | Not Found</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/not-found.css" media="screen" rel="stylesheet" th:href="@{/css/not-found.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi:400" id="u-page-google-font" rel="stylesheet">
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }
    </style>
    <style> .u-dialog-section-4 {
        min-height: 826px;
    }

    .u-dialog-section-4 .u-dialog-1 {
        width: 545px;
        min-height: 564px;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(#f5d654, black);
        margin: 0 auto 60px;
    }

    .u-dialog-section-4 .u-container-layout-1 {
        padding: 0 35px 34px;
    }

    .u-dialog-section-4 .u-group-1 {
        width: 190px;
        min-height: 238px;
        margin: 13px 0 0 auto;
    }

    .u-dialog-section-4 .u-image-1 {
        width: 149px;
        height: 149px;
        background-image: url("/images/Tosho.png");
        background-position: 50% 50%;
        margin: 20px 174px 0 20px;
    }

    .u-dialog-section-4 .u-text-1 {
        margin: 20px auto 0;
    }

    .u-dialog-section-4 .u-group-2 {
        min-height: 237px;
        width: 190px;
        margin: -238px auto 0 0;
    }

    .u-dialog-section-4 .u-image-2 {
        width: 149px;
        height: 149px;
        background-image: url("/images/Ivo.png");
        background-position: 50% 50%;
        margin: 20px 174px 0 20px;
    }

    .u-dialog-section-4 .u-text-2 {
        margin: 20px auto 0;
    }

    .u-dialog-section-4 .u-text-3 {
        margin: -136px auto 0;
    }

    .u-dialog-section-4 .u-group-3 {
        min-height: 262px;
        background-image: none;
        margin: 115px 0 0;
    }

    .u-dialog-section-4 .u-container-layout-4 {
        padding: 30px;
    }

    .u-dialog-section-4 .u-text-4 {
        font-weight: 700;
        text-transform: none;
        margin: 0;
    }

    .u-dialog-section-4 .u-text-5 {
        margin: 20px auto 0 0;
    }

    .u-dialog-section-4 .u-btn-1 {
        border-style: solid;
        font-weight: 700;
        font-size: 0.9375rem;
        margin: 20px auto 0;
        padding: 6px 31px 6px 30px;
    }

    .u-dialog-section-4 .u-icon-1 {
        width: 16px;
        height: 16px;
        left: auto;
        top: 17px;
        position: absolute;
        right: 16px;
    }

    @media (max-width: 1199px) {
        .u-dialog-section-4 .u-dialog-1 {
            height: auto;
            background-position: 50% 50%;
        }

        .u-dialog-section-4 .u-group-1 {
            width: 190px;
        }

        .u-dialog-section-4 .u-image-1 {
            margin-right: 41px;
            margin-left: 0;
        }

        .u-dialog-section-4 .u-group-2 {
            width: 190px;
        }

        .u-dialog-section-4 .u-image-2 {
            margin-right: 41px;
            margin-left: 0;
        }

        .u-dialog-section-4 .u-text-3 {
            margin-top: -136px;
        }

        .u-dialog-section-4 .u-group-3 {
            margin-top: 114px;
            margin-right: initial;
            margin-left: initial;
        }
    }

    @media (max-width: 991px) {
        .u-dialog-section-4 .u-container-layout-1 {
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-width: 767px) {
        .u-dialog-section-4 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-4 .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 575px) {
        .u-dialog-section-4 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-4 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }

        .u-dialog-section-4 .u-text-3 {
            margin-top: -128px;
        }

        .u-dialog-section-4 .u-group-3 {
            margin-top: 113px;
            margin-right: initial;
            margin-left: initial;
        }
    }

    </style>
</head>
<body class="u-body u-overlap u-xl-mode">
<div th:replace="/home::header-client"></div>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-height="1068"
         data-image-width="1600"
         id="carousel_d811">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-container-style u-group u-opacity u-opacity-75 u-palette-3-base u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center u-custom-font u-text u-text-1">404 Page Not Found</h1>
                <p class="u-align-center u-text u-text-2" th:text="${error}">Error placeholder</p>
                <input class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1"
                       onclick='window.history.back()' type='button' value='Back'/>
            </div>
        </div>
    </div>
</section>
<div th:replace="/home::about"></div>
<div th:replace="/home::footer"></div>
</body>
</html>