<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | NEW CLIENT</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/admin-ui.css" media="screen" rel="stylesheet" th:href="@{/css/admin-ui.css}">
    <link href="../static/css/admin-form.css" media="screen" rel="stylesheet" th:href="@{/css/admin-form.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
</head>
<body class="u-body u-image u-stick-footer u-xl-mode"
      style="background-position: 50% 50%; background-attachment: fixed;
      background-image: url('/images/admin-ui-background.png');"
      th:if="${isAdminOrEmployee}">
<section class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-section-1"
         id="sec-1d7f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <!-- *** MENU *** -->
                    <div th:replace="vehicle-all.html::menu-admin-ui"></div>
                    <!-- *** CONTENT *** -->
                    <div class="u-container-style u-layout-cell u-shape-rectangle
                    u-size-42-md u-size-42-sm u-size-42-xs u-size-46-lg u-size-49-xl u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <!-- *** PAGE TITLE *** -->
                            <h2 class="u-align-left u-text u-text-black u-text-default u-text-1">ADD NEW CLIENT</h2>
                            <!-- *** FORM *** -->
                            <div class="u-form u-login-control u-white u-form-1">
                                <form class="u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form"
                                      method="post"
                                      style="padding: 30px;"
                                      th:object="${user}">
                                    <div class="u-form-group u-form-name">
                                        <label style="color: red" th:text="${error}">Error placeholder</label>
                                    </div>
                                    <div class="u-form-group u-form-name">
                                        <label class="u-label" for="email">E-mail</label>
                                        <input class="u-border-2 u-border-grey-40 u-input u-input-rectangle u-input-1"
                                               id="email" th:field="*{email}"
                                               type="text">
                                        <label style="color: red" th:errors="*{email}">Error placeholder</label>
                                    </div>
                                    <div class="u-form-group u-form-name">
                                        <label class="u-label" for="phone">Phone</label>
                                        <input class="u-border-2 u-border-grey-40 u-input u-input-rectangle u-input-1"
                                               id="phone" th:field="*{phone}"
                                               type="text">
                                        <label style="color: red" th:errors="*{phone}">Error placeholder</label>
                                    </div>
                                    <div class="u-form-group u-form-name">
                                        <label class="u-label" for="firstName">First Name</label>
                                        <input class="u-border-2 u-border-grey-40 u-input u-input-rectangle u-input-1"
                                               id="firstName" th:field="*{firstName}"
                                               type="text">
                                        <label style="color: red" th:errors="*{firstName}">Error placeholder</label>
                                    </div>
                                    <div class="u-form-group u-form-name">
                                        <label class="u-label" for="lastName">Last Name</label>
                                        <input class="u-border-2 u-border-grey-40 u-input u-input-rectangle u-input-1"
                                               id="lastName" th:field="*{lastName}"
                                               type="text">
                                        <label style="color: red" th:errors="*{lastName}">Error placeholder</label>
                                    </div>
                                    <div class="u-align-left u-form-group u-form-submit">
                                        <a class="u-border-none u-btn u-btn-submit u-button-style u-palette-3-base u-btn-6"
                                           href="#">Submit</a>
                                        <input class="u-form-control-hidden" type="submit" value="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="vehicle-all.html::footer-admin-ui"></footer>
</body>
<body th:unless="${isAdminOrEmployee}">
<div th:replace="vehicle-all.html::unauthorized"></div>
</body>
</html>