<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | VEHICLES</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/admin-ui.css" media="screen" rel="stylesheet" th:href="@{/css/admin-ui.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
</head>
<body class="u-body u-image u-stick-footer u-xl-mode"
      style="background-position: 50% 50%; background-attachment: fixed;
      background-image: url('/images/admin-ui-background.png');"
      th:if="${isAdminOrEmployee}">
<section class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-section-1"
         id="sec-1d7f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <!-- *** MENU *** -->
                    <div class="u-size-11" th:fragment="menu-admin-ui">
                        <div class="u-layout-col">
                            <div class="u-align-center u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                                <div class="u-container-layout u-valign-top u-container-layout-1">
                            <span class="u-file-icon u-icon u-icon-1">
                            <img alt="menu icon"
                                 src="../static/images/menu-icon.png" th:src="@{/images/menu-icon.png}">
                            </span>
                                    <a class="u-active-custom-color-5 u-align-center u-btn u-btn-round u-button-style
                             u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-1"
                                       href="#" th:href="@{/v1/vehicles}">Vehicles</a>
                                    <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                            u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-2"
                                       href="#" th:href="@{/v1/users}">Clients</a>
                                    <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                            u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-3"
                                       href="#" th:href="@{/v1/visits}">Visits</a>
                                    <a class="u-active-custom-color-5 u-align-center u-border-none u-btn u-btn-round
                             u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-4"
                                       href="#" th:href="@{/v1/assistance}">Services</a>
                                    <span class="u-file-icon u-icon u-text-black u-icon-2">
                                <a href="#" th:href="@{/v1/users/{id}/account(id=${currentUser.id})}">
                                <img alt="link to user profile"
                                     src="../static/images/user-profile-icon.png"
                                     th:src="@{/images/user-profile-icon.png}"></a>
                            </span>
                                    <a class="u-border-1 u-border-black u-btn u-btn-round u-button-style u-radius-50
                               u-text-hover-black u-white u-btn-5" data-page-id="21343987" href="#"
                                       th:href="@{/v1/auth/logout}">
                                        <span style="font-size: 0.875rem;">Logout</span>
                                        <span style="font-size: 0.75rem;"></span>&nbsp;
                                        <span class="u-file-icon u-icon u-icon-3">
                                <img alt="" src="../static/images/logout-icon.png" th:src="@{/images/logout-icon.png}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *** CONTENT *** -->
                    <div class="u-size-49">
                        <div class="u-layout-col">
                            <!-- *** HEADER *** -->
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                                        <div class="u-container-layout u-container-layout-2">
                                            <!-- *** SEARCH *** -->
                                            <form class="u-border-1 u-border-grey-30 u-search u-search-left u-white u-search-1"
                                                  method="post"
                                                  th:action="${searchEndPoint}"
                                                  th:fragment="search-admin-ui"
                                                  th:object="${search}">
                                                <button class="u-search-button" type="submit">
                                    <span class="u-search-icon u-spacing-10">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use
                                xlink:href="#svg-affb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                        <svg class="u-svg-content" id="svg-affb" style="enable-background:new 0 0 56.966 56.966;"
                             version="1.1" viewBox="0 0 56.966 56.966" x="0px" xml:space="preserve"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             y="0px"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
                      </span>
                                                </button>
                                                <input class="u-search-input"
                                                       placeholder="Search" th:field="*{keyword}" type="search">
                                                <!-- todo error label hide input field when executed because form can't resize-->
                                                <label style="color: red" th:errors="*{keyword}">Error
                                                    placeholder</label>
                                            </form>
                                            <!-- *** PAGE TITLE *** -->
                                            <h2 class="u-align-left u-text u-text-black u-text-default u-text-1">
                                                Vehicles</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- *** FILTER + BUTTONS ***-->
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <!-- todo filter form doesn't link to controller-->

                                    <!-- *** FILTER *** -->
                                    <div class="u-container-style u-layout-cell u-size-41 u-layout-cell-3">
                                        <div class="u-container-layout u-container-layout-3">
                                            <div class="u-align-left u-custom-color-7 u-form u-form-1">
                                                <form class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                                      method="post"
                                                      style="padding: 15px;"
                                                      th:action="@{/v1/vehicles/filter}"
                                                      th:object="${filter}">
                                                    <!-- *** Username *** -->
                                                    <div class="u-form-group u-label-top u-form-group-10">
                                                        <label class="u-label u-spacing-20 u-text-black u-label-10"
                                                               for="username">
                                                            Username</label>
                                                        <input class="u-border-1 u-border-grey-30 u-input u-input-rectangle
                                                               u-radius-50 u-white u-input-10" id="username"
                                                               placeholder="Enter username"
                                                               th:field="*{username}"
                                                               type="text">
                                                        <label style="color: red" th:errors="*{username}">Error
                                                            placeholder</label>
                                                    </div>
                                                    <!-- *** brand *** -->
                                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">
                                                        <label class="u-label u-spacing-20 u-text-black u-label-7"
                                                               for="brand">
                                                            Brand</label>
                                                        <div class="u-form-select-wrapper">
                                                            <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle                                                                                                                                     u-radius-50 u-white u-input-7"
                                                                    id="brand"
                                                                    th:field="*{brand}">
                                                                <option selected th:value="null">---</option>
                                                                <option th:each="option:${vehicleBrands}"
                                                                        th:text="${option.name}"
                                                                        th:value="${option.name}"></option>
                                                            </select>
                                                            <svg class="u-caret" height="12"
                                                                 version="1"
                                                                 width="14"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4 8L0 4h8z"
                                                                      fill="currentColor"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <!-- *** model *** -->
                                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">
                                                        <label class="u-label u-spacing-20 u-text-black u-label-7"
                                                               for="model">
                                                            Model</label>
                                                        <div class="u-form-select-wrapper">
                                                            <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle                                                                                                                                        u-radius-50 u-white u-input-7"
                                                                    id="model"
                                                                    th:field="*{model}">
                                                                <option selected th:value="null">---</option>
                                                                <option th:each="option:${vehicleModels}"
                                                                        th:text="${option.name}"
                                                                        th:value="${option.name}"></option>
                                                            </select>
                                                            <svg class="u-caret" height="12"
                                                                 version="1"
                                                                 width="14"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4 8L0 4h8z"
                                                                      fill="currentColor"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <!-- *** sortBy *** -->
                                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">
                                                        <label class="u-label u-spacing-20 u-text-black u-label-7"
                                                               for="sortBy">Sort
                                                            by</label>
                                                        <div class="u-form-select-wrapper">
                                                            <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-7"
                                                                    id="sortBy"
                                                                    th:field="*{sort}">
                                                                <option th:value="model">model</option>
                                                                <option th:value="brand">brand</option>
                                                            </select>
                                                            <svg class="u-caret" height="12"
                                                                 version="1"
                                                                 width="14"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4 8L0 4h8z"
                                                                      fill="currentColor"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <!-- *** sortOrder *** -->
                                                    <div class="u-form-group u-form-select u-label-top u-form-group-7">
                                                        <label class="u-label u-spacing-20 u-text-black u-label-7"
                                                               for="sortOrder">
                                                            Sort order </label>
                                                        <div class="u-form-select-wrapper">
                                                            <select class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-white u-input-7"
                                                                    id="sortOrder"
                                                                    th:field="*{order}">
                                                                <option selected th:value="ascending">ascending
                                                                </option>
                                                                <option th:value="descending">descending
                                                                </option>
                                                            </select>
                                                            <svg class="u-caret" height="12"
                                                                 version="1"
                                                                 width="14"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4 8L0 4h8z"
                                                                      fill="currentColor"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <!-- *** submit button *** -->
                                                    <div class="u-align-right u-form-group u-form-submit u-label-top">
                                                        <button class="u-btn u-btn-round u-btn-submit u-button-style
                                               u-hover-custom-color-4 u-palette-3-base u-radius-50 u-btn-7"
                                                                type="submit"
                                                                value="Filter">Filter
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- *** BUTTON(S) *** -->
                                    <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-4">
                                        <div class="u-container-layout u-container-layout-4">
                                            <a class="u-align-center u-border-black u-border-none u-btn u-button-style u-hover-custom-color-4 u-palette-3-base u-btn-7"
                                               href="#"
                                               th:href="@{/v1/users/new}">add user</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- *** TABLE - LIST of RESULTS *** -->
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-5">
                                        <div class="u-container-layout u-container-layout-5">
                                            <div class="u-align-center u-table u-table-responsive u-table-1">
                                                <table class="u-table-entity">
                                                    <thead class="u-custom-color-3 u-table-header u-table-header-1">
                                                    <tr style="height: 46px;">
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            ID
                                                        </th>
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            License
                                                        </th>
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            Brand
                                                        </th>
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            Model
                                                        </th>
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            Produced
                                                        </th>
                                                        <th class="u-border-1 u-border-custom-color-3 u-table-cell">
                                                            Client
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="u-grey-5 u-table-body u-table-body-1">
                                                    <tr style="height: 46px;"
                                                        th:each="vehicle: ${vehicles}">
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell"
                                                            th:text="${vehicle.id}">
                                                        </td>
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell">
                                                            <a href="#"
                                                               th:href="@{/v1/vehicles/{id}(id=${vehicle.id})}"
                                                               th:text="${vehicle.licensePlate}"></a>
                                                        </td>
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell"
                                                            th:text="${vehicle.model.brand.name}">
                                                        </td>
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell"
                                                            th:text="${vehicle.model.name}">
                                                        </td>
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell"
                                                            th:text="${vehicle.productionYear}">
                                                        </td>
                                                        <td class="u-border-1 u-border-custom-color-3 u-border-no-left
                                        u-border-no-right u-table-cell">
                                                            <a href="#"
                                                               th:href="@{/v1/users/{id}(id=${vehicle.owner.id})}"
                                                               th:text="|${vehicle.owner.firstName} ${vehicle.owner.lastName}|"></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
        id="footer" th:fragment="footer-admin-ui">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">© 2022 Powered by Mighty IT Team &amp;
            Telerik Academy - All rights reserved</p>
        <p class="u-small-text u-text u-text-variant u-text-2">Swagger</p><span
            class="u-file-icon u-icon u-text-white u-icon-1">
        <a href="#" th:href="@{/swagger-ui/}">
        <img alt="" src="../static/images/swagger-icon.png" th:src="@{/images/swagger-icon.png}"></a></span>
    </div>
</footer>
</body>
<!--*** UNAUTHORIZED ***-->
<body th:unless="${isAdminOrEmployee}">
<section class="u-align-center u-clearfix u-image u-shading u-section-1"
         data-image-height="1068"
         data-image-width="1600" id="unauthorized"
         style="background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
         url('/images/home-background.jpg'); background-position: 50% 50%;" th:fragment="unauthorized">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-opacity u-opacity-75 u-palette-3-base u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center u-custom-font u-text u-text-1">401 Unauthorized</h1>
                <p class="u-align-center u-text u-text-2">You should be Admin to see this page</p>
                <input class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1"
                       onclick='window.history.back()' type='button' value='Back'/>
            </div>
        </div>
    </div>
</section>
</body>
</html>