<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle models</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body th:if="${isAuthenticated}">
<div class="row">
    <div class="column banner"><h1>***</h1></div>
    <div class="column middle">
        <nav th:replace="/fragments/navbar.html::navbar"></nav>
        <br>
        <hr>
        <br>
        <div th:replace="/fragments/search-bar.html::search-bar"></div>
        <br>
        <hr>
        <br>
        <!--        <div th:replace="/fragments/filter-bar-user.html::filter-bar-user"></div>-->
        <br>
        <hr>
        <br>
        <h1>All vehicle models list</h1>
        <table>
            <tr>
                <th>Model ID</th>
                <th>Brand</th>
                <th>Model</th>
            </tr>
            <tr th:each="model: ${vehicleModels}">
                <td th:text="${model.id}"></td>
                <td>
                    <a th:text="${model.name}"></a>
                </td>
                <td th:text="${model.brand.name}"></td>
            </tr>
        </table>
    </div>
    <div class="column banner"><h1>***</h1></div>
</div>
</body>
</html>