<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta content="Nicepage 4.9.5, nicepage.com" name="generator">
    <title>Smart garage | VISIT DETAILS</title>
    <link href="../static/css/nicepage.css" media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link href="../static/css/admin-ui.css" media="screen" rel="stylesheet" th:href="@{/css/admin-ui.css}">
    <link href="../static/css/admin-form.css" media="screen" rel="stylesheet" th:href="@{/css/admin-form.css}">
    <script class="u-script" defer="" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            type="text/javascript"></script>
    <script class="u-script" defer="" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            type="text/javascript"></script>
    <link href="../static/images/favicon.PNG" rel="icon" th:href="@{/images/favicon.PNG}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          id="u-theme-google-font"
          rel="stylesheet">
</head>
<body class="u-body u-image u-stick-footer u-xl-mode"
      style="background-position: 50% 50%; background-attachment: fixed;
      background-image: url('/images/admin-ui-background.png');"
      th:if="${isAdminOrEmployee}">
<section class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-section-1"
         id="sec-1d7f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <!-- *** MENU *** -->
                    <div th:replace="vehicle-all.html::menu-admin-ui"></div>
                    <!-- *** CONTENT *** -->
                    <div class="u-container-style u-layout-cell u-shape-rectangle
                    u-size-42-md u-size-42-sm u-size-42-xs u-size-46-lg u-size-49-xl u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <!-- *** PAGE TITLE *** -->
                            <h2 class="u-align-left u-text u-text-black u-text-default u-text-1"
                                style="margin-top: -2px;">
                                VISIT DETAILS</h2>
                            <!-- *** DETAILS *** -->
                            <div class="u-custom-color-7 u-form u-form-1" style="margin: 20px 100px 0 25px;">
                                <table style="text-align: left">
                                    <tr>
                                        <th>Visit ID</th>
                                        <td th:text="${visit.id}"></td>
                                    </tr>
                                    <tr>
                                        <th>Client username</th>
                                        <td>
                                            <a href="#" th:href="@{/v1/users/{id}(id=${visit.user.id})}"
                                               th:text="${visit.user.username}"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Vehicle license plate</th>
                                        <td th:text="${visit.vehicle.licensePlate}"></td>
                                    </tr>

                                    <tr>
                                        <th>Date in</th>
                                        <td th:text="${visit.dateIn}"></td>
                                    </tr>
                                    <tr>
                                        <th>Date out</th>
                                        <td th:text="${visit.dateOut}"></td>
                                    </tr>
                                    <tr>
                                        <td>--------------------------------------------------</td>
                                    </tr>
                                    <tr>
                                        <th>Services</th>
                                    </tr>
                                    <tr th:each="service: ${visit.services}">
                                        <th>--- Service #</th>
                                        <td th:text="${service.name}"></td>
                                        <td th:text="${service.price}"></td>
                                        <td th:text="${visit.currency}"></td>
                                        <td>
                                            <form th:action="@{/v1/visits/{id}/remove/{assistanceID}(id=${visit.id}, assistanceID=${service.id})}"
                                                  th:unless="${visit.isComplete()}">
                                                <input type="submit" value="-">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>--------------------------------------------------</td>
                                    </tr>
                                    <tr th:unless="${visit.isComplete()}">
                                        <th>Add Service</th>
                                        <td>
                                            <form th:action="@{/v1/visits/{id}/add(id=${visit.id})}">
                                                <select th:field="*{id}" th:object="${assistance}">
                                                    <option th:each="entity:${assistances}"
                                                            th:text="${entity.name}"
                                                            th:value="${entity.id}">
                                                    </option>
                                                </select>
                                                <input type="submit" value="+">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr th:unless="${visit.isComplete()}">
                                        <th>Convert currency</th>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <form th:action="@{/v1/visits/{id}/currency(id=${visit.id})}">
                                                <select th:field="*{currency}" th:object="${toCurrency}">
                                                    <option th:each="entity:${currencies}"
                                                            th:text="${entity}"
                                                            th:value="${entity}">
                                                        currencies
                                                    </option>
                                                </select>
                                                <input type="submit" value="Convert">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr th:unless="${visit.isComplete()}">
                                        <td>--------------------------------------------------</td>
                                    </tr>
                                    <tr>
                                        <th>Total price</th>
                                        <td></td>
                                        <td th:text="${visit.totalPrice}">total</td>
                                        <td th:text="${visit.currency}">currency</td>
                                    </tr>
                                    <tr>
                                        <td>--------------------------------------------------</td>
                                    </tr>
                                </table>
                                <h4 class="error" th:text="${error}">Error placeholder</h4>
                                <br>
                                <h2 th:if="${visit.isComplete()}">Visit is completed.</h2>
                                <br>
                                <!-- *** BUTTONS *** -->
                                <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1">
                                    <div class="u-container-layout u-container-layout-3">
                                        <a class="u-align-center u-border-black u-border-none u-btn u-button-style
                                    u-hover-custom-color-4 u-palette-3-base u-btn-6"
                                           href="#"
                                           th:href="@{/v1/visits/{id}/send(id=${visit.id})}"
                                           th:if="${visit.isComplete}">
                                            Send report</a>
                                    </div>
                                    <div class="u-container-layout u-container-layout-3">
                                        <form th:action="@{/v1/visits/{id}/complete(id=${visit.id})}"
                                              th:unless="${visit.isComplete}">
                                            <input class="u-align-center u-border-black u-border-none u-btn u-button-style
                                    u-hover-custom-color-4 u-palette-3-base u-btn-6" type="submit"
                                                   value="Finish">
                                        </form>
                                    </div>
                                    <div class="u-container-layout u-container-layout-3">
                                        <form th:action="@{/v1/visits/{id}/delete(id=${visit.id})}">
                                            <input class="u-align-center u-border-black u-border-none u-btn u-button-style
                                    u-hover-custom-color-4 u-palette-3-base u-btn-6" type="submit"
                                                   value="Delete">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="vehicle-all.html::footer-admin-ui"></footer>
</body>
<body th:unless="${isAdminOrEmployee}">
<div th:replace="vehicle-all.html::unauthorized"></div>
</body>
</html>