.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 735px;
}

.u-section-1 .u-container-layout-1 {
    padding: 23px 6px;
}

.u-section-1 .u-icon-1 {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
}

.u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 21px -1px 0;
    padding: 11px 59px 12px 58px;
}

.u-section-1 .u-btn-2 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 10px -1px 0;
    padding: 10px 64px 11px 63px;
}

.u-section-1 .u-btn-3 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 10px -1px 0;
    padding: 11px 73px 12px 72px;
}

.u-section-1 .u-btn-4 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 10px -1px 0;
    padding: 10px 61px 12px 59px;
}

.u-section-1 .u-icon-2 {
    width: 20px;
    height: 20px;
    margin: 37px auto 0;
    padding: 0;
}

.u-section-1 .u-btn-5 {
    background-image: none;
    border-style: solid;
    font-size: 0.9375rem;
    font-weight: 500;
    margin: 10px auto 0;
    padding: 0 12px 1px 11px;
}

.u-section-1 .u-icon-3 {
    font-size: 0.7334em;
    vertical-align: 0px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 735px;
}

.u-section-1 .u-container-layout-2 {
    padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
    text-transform: uppercase;
    background-image: none;
    box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0);
    text-decoration: none solid rgb(0, 0, 0);
    margin: 15px auto 0 25px;
}

.u-section-1 .u-form-1 {
    height: 359px;
    background-image: none;
    margin: 20px 373px 0 25px;
}

.u-section-1 .u-input-1 {
    background-image: none;
}

.u-section-1 .u-input-2 {
    background-image: none;
}

.u-section-1 .u-btn-6 {
    width: 100%;
    background-image: none;
    border-style: none;
    padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1537px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 771px;
    }

    .u-section-1 .u-btn-1 {
        margin-left: auto;
        margin-right: 0;
    }

    .u-section-1 .u-btn-2 {
        margin-left: auto;
        margin-right: 0;
    }

    .u-section-1 .u-btn-3 {
        margin-left: auto;
        margin-right: 0;
    }

    .u-section-1 .u-btn-4 {
        margin-left: auto;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 569px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 273px;
    }

    .u-section-1 .u-form-1 {
        width: 533px;
        margin-right: 163px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 100vh;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-right: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-form-1 {
        width: 504px;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-btn-1 {
        margin-right: auto;
    }

    .u-section-1 .u-btn-2 {
        margin-right: auto;
    }

    .u-section-1 .u-btn-3 {
        margin-right: auto;
    }

    .u-section-1 .u-btn-4 {
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        margin-top: 281px;
    }

    .u-section-1 .u-form-1 {
        width: 340px;
    }
}