.u-section-1 {
    background-image: url("../images/home-background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 481px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-form-1 {
    height: 420px;
    background-image: none;
    box-shadow: 0 -2px 8px 0 rgba(128, 128, 128, 1);
    margin: 0 auto 0 20px;
}

.u-section-1 .u-form-group-1 {
    margin-left: 0;
}

.u-section-1 .u-label-1 {
    width: 100px;
    font-weight: 400;
    letter-spacing: 0px;
}

.u-section-1 .u-input-1 {
    font-size: 0.875rem;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
}

.u-section-1 .u-form-group-2 {
    margin-left: 0;
}

.u-section-1 .u-label-2 {
    width: 100px;
    font-weight: 400;
    letter-spacing: 0px;
}

.u-section-1 .u-input-2 {
    font-size: 0.875rem;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

.u-section-1 .u-label-3 {
    width: 100px;
    font-weight: 400;
    letter-spacing: 0px;
}

.u-section-1 .u-input-3 {
    font-size: 0.875rem;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
    height: 46px;
}

.u-section-1 .u-form-group-4 {
    margin-left: 0;
}

.u-section-1 .u-label-4 {
    width: 100px;
    font-weight: 400;
    letter-spacing: 0px;
}

.u-section-1 .u-input-4 {
    font-size: 0.875rem;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
    height: 46px;
}

.u-section-1 .u-btn-1 {
    width: 100%;
    font-weight: 700;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 10px 30px 10px 29px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 481px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    align-self: center;
    border-style: none;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 44px;
}

.u-section-1 .u-icon-1 {
    font-size: 2.1429em;
    margin-right: 6px;
    vertical-align: -5px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    align-self: center;
    margin: 20px auto 0;
    padding: 0 29px 0 28px;
}

.u-section-1 .u-icon-2 {
    font-size: 2.1429em;
    margin-right: 6px;
    vertical-align: -5px;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    align-self: center;
    margin: 20px auto 0;
    padding: 0 48px 0 47px;
}

.u-section-1 .u-icon-3 {
    font-size: 2.1429em;
    margin-right: 6px;
    vertical-align: -5px;
}

.u-section-1 .u-search-1 {
    height: auto;
    width: 200px;
    min-height: 48px;
    margin: 174px auto 0;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 293px;
}

.u-section-1 .u-container-layout-3 {
    padding: 0;
}

.u-section-1 .u-text-1 {
    margin: 26px 1006px 0 50px;
}

.u-section-1 .u-table-1 {
    width: 1080px;
    margin: 15px 10px 0 auto;
}

.u-block-bc68-246 {
    background-image: none;
}

.u-block-bc68-249 {
    background-image: none;
}

.u-section-1 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
}

.u-section-1 .u-table-body-1 {
    background-image: none;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1453px;
    }

    .u-section-1 .u-layout-wrap-1 {
        position: relative;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 352px;
    }

    .u-section-1 .u-form-1 {
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 397px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: 25px;
    }

    .u-section-1 .u-btn-4 {
        margin-top: 25px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 242px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 856px;
    }

    .u-section-1 .u-table-1 {
        height: 283px;
        width: 940px;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1159px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 636px;
    }

    .u-section-1 .u-table-1 {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1259px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 456px;
    }

    .u-section-1 .u-table-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-form-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-1 {
        margin-right: 256px;
    }

    .u-section-1 .u-table-1 {
        width: 340px;
    }
}