.u-section-1 {
    background-image: url("../images/home-background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-group-1 {
    width: 910px;
    min-height: 173px;
    margin: 298px auto 60px;
}

.u-section-1 .u-text-1 {
    margin: 0 20px;
}

.u-section-1 .u-text-2 {
    margin: 20px 20px 0;
}

.u-section-1 .u-text-3 {
    margin: 26px 20px 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 665px;
    }

    .u-section-1 .u-text-1 {
        width: 870px;
    }

    .u-section-1 .u-text-2 {
        width: 870px;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        background-position: 100% 50%;
        background-size: auto 115%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 615px;
    }

    .u-section-1 .u-group-1 {
        width: 720px;
    }

    .u-section-1 .u-text-1 {
        width: 720px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        width: 720px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        background-position: 57.28% 24.91%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 461px;
    }

    .u-section-1 .u-group-1 {
        width: 540px;
    }

    .u-section-1 .u-text-1 {
        width: 540px;
    }

    .u-section-1 .u-text-2 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        background-position: 46.15% 53.1%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 622px;
    }

    .u-section-1 .u-group-1 {
        width: 340px;
    }

    .u-section-1 .u-text-1 {
        width: 340px;
    }

    .u-section-1 .u-text-2 {
        width: 340px;
    }
}