.u-section-1 {
    background-image: url("../images/home-background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-group-1 {
    width: 585px;
    min-height: 379px;
    background-image: none;
    margin: 415px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 10px 50px;
}

.u-section-1 .u-text-1 {
    font-family: Alatsi;
    font-size: 3.75rem;
    margin: 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-style: none;
    margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 665px;
    }

    .u-section-1 .u-group-1 {
        width: 566px;
        min-height: 363px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.4375rem;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        background-position: 100% 50%;
        background-size: auto 115%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 615px;
    }

    .u-section-1 .u-group-1 {
        width: 535px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        background-position: 57.28% 24.91%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 461px;
    }

    .u-section-1 .u-group-1 {
        width: 448px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        background-position: 46.15% 53.1%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 622px;
    }

    .u-section-1 .u-group-1 {
        width: 296px;
        min-height: 370px;
        margin-top: 252px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }
}