.u-section-1 {
    background-image: url("../images/index-landing.gif");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 665px;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        background-position: 100% 50%;
        background-size: auto 115%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 615px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        background-position: 57.28% 24.91%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 461px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        background-position: 46.15% 53.1%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 622px;
    }
}