.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/home-background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-group-1 {
    width: 800px;
    min-height: 353px;
    height: auto;
    margin: 120px auto 60px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: abril-fatface;
    font-weight: 400;
    margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 41px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-text-2 {
        text-transform: none;
        letter-spacing: normal;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-group-1 {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-group-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-group-1 {
        width: 340px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
    }
}