
.column {
    float: left;
}

.banner {
    width: 15%;
    background: #99C24D;
    text-align: center;
}

.middle {
    width: 70%;
    background: #F18F01;
}

.row:after {
    display: table;
    clear: both;
}

.menu {
    padding: 10px;
    color: #006E90;
}

.error {
    color: red;
    font-weight: bold;
    font-style: italic;
}